@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

p, form label.dati, fieldset div {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
}

h1, h2, h3, li, button, legend {
    font-family: "Caudex", serif;
}

h1 {
    font-size: 4.5em;
}

h2{
    font-size: 2.5em;
    color: #EA5DAB;
}

.logo {
    max-height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    z-index: 2;
}
  
html, body {
    margin: 0;
    height: 100%;
}
  
* {
    box-sizing: border-box;
}
  
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 65px;
    padding: 1em;
}
  
ul.menu {
    padding: 0;
}

.menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.menu a {
    text-decoration: none;
    color: #FFD6DA;
    font-weight: bolder;
    margin-right: 10px;
}
  
.menu > li {
    margin: 0 1rem;
    font-size: 1.3rem;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #EA5DAB;
}

.menu li:hover {
    background-color: #000000;
}

.menu a:hover {
    color: #EA5DAB;
    margin-right: 20px;
}
  
.menu-button-container {
    display: flex;
    margin-right: 10px;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #EA5DAB;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
    height: 3em;
    padding: 0.8em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.header, .subHeader{
    background-color: #FFD6DA;
    display: flex;
    align-items: center;
}

.subHeader, .sunHeaderPic {
    max-height: 20vw;
}

img.erikaPic, .header {
    max-height: 40vw;
}

.erikaQuote {
    margin-left: 100px;
    line-height: 1.5em;
}

main {
    display: flex;
    justify-content: space-around;
}

.rectangle {
    position: relative;
    width: 45vw;
    border: 2px solid #FFBF00;
    border-radius: 5px;
    margin-top: 150px;
    text-align: center;
}

.picRect {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.picRect img{
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.titolo {
    position: absolute;
    font-weight: bold;
    color: #FFBF00;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 7rem;
    z-index: 1;
}

button, input#invia {
    opacity: 0;
    color: #FFD6DA;
    background-color: #EA5DAB;
    box-shadow: 2px 2px 10px #FFD6DA;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input#invia{
    opacity: 1;
}

#bottone {
    display: block;
    text-align: center;
    margin: auto;
}

.rectNascosto {
    position: absolute;
    background: rgba(0, 0, 0, 0.75); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 2;
}

.rectNascosto p {
    align-items: center;
    padding: 20px;
    line-height: 2.3em;
}

.picRect:hover button {
    opacity: 1;
}

.picRect:hover .rectNascosto {
    opacity: 1;
}

.picRect:hover .titolo {
    transition: .5s ease-out;
    opacity: 0;
}

.linea {
    margin: auto;
    width: 75vw;
    height: 2px;
    background-color: #FFBF00;
    margin-top: 75px;
    margin-bottom: 75px;
}

#feshionDesigner {
    padding: 40px;
}

.textFashion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 5vw;
    row-gap: 20px;
}

.textFashion p {
    line-height: 2.3em;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: 0;
    margin-bottom: 0;
}

.textFashion h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
}

.textFashion a {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
}

img.erikaPM {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    max-width: 50vw;
    border-radius: 5px;
    box-shadow: 8px 8px 6px #FFD6DA;
}

.quoteDior {
    background-color: #FFBF00;
    padding: 5vw;
    margin-top: 5vw;
}

h1#citazione {
    text-align: center;
}

h2#autore {
    text-align: right;
    font-style: italic;
    color: #000000;
}

footer {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
}

p#footIntes {
    color: #FFD6DA;
    font-size: 1em;
}

#socials {
    display: flex;
    align-items: center;
}

#socials img {
    max-width: 50px;
    padding: 10px;
}

.fashionSections {
    display: grid;
    grid-template-columns: 1f 1f;
    grid-row: auto auto;
    column-gap: 5vw;
}

.fashionSections h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0;
}

.fashionSections p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.fashionSections img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    max-width: 55vw;
    border-radius: 5px;
    box-shadow: 8px 8px 6px #FFD6DA;
}

.corpoCentrale {
    max-width: 90vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ---- FORM ---- */
form fieldset {
    margin: 2rem 0;
    border: 1px solid #FFBF00;
    border-radius: 5px;
    padding: .5rem 2%;
}

form label.dati {
    display: block;
    padding-top: 1rem;
}

form label.dati input, form label.dati select, textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #FFBF00;
    border-radius: 4px;
    padding: .75rem;
    width: 90%;
    max-width: 18rem;
    background-color: rgba(255, 214, 218, 0.3) ;
}

form label.dati input:required {
    border-left: #EA5DAB solid 6px;
}

form label.dati input:required:valid {
    border-left: #FFBF00 solid 6px;
}

form label.dati, fieldset div {
    font-size: 1em;
}

.designs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 8px 8px 6px #FFD6DA;
}

.designs img {
    max-width: 40vw;
    margin: auto;
    padding: 20px;
}

#wedding img {
    max-width: 25vw;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .rectNascosto p {
        margin-top: 0;
        padding: 0;
        line-height: 1.7em;
    }

    .erikaQuote {
        margin-left: 40px;
        line-height: 1.2em;
        margin-right: 10px;
    }

    h1 {
        font-size: 2.8em;
    }

    .fashionSections h2 {
        grid-column: 1 / 3;
        text-align: center;
    }    

    .fashionSections img {
        grid-row: 2 / 3;
        margin-top: 30px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    h1.erikaQuote {
        font-size: 2.8em;
        margin-right: 10px;
        margin-left: 50px;
    }

    .rectangle {
        margin-top: 50px;
    }

    .picRect {
        height: 400px;
    }

    .rectNascosto p {
        margin-top: 0;
        padding: 5px;
        line-height: 1.5em;
    }

    .titolo {
        line-height: 3rem;
        padding: 20px;
    }

    .linea {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    img.cardullo {
        grid-column: 1/3;
    }

    h1#citazione {
        font-size: 2.8em;
    }

    h2 {
        font-size: 2em;
    }

    .fashionSections {
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }

    .fashionSections h2 {
        margin-bottom: 0;
        text-align: center;
    }

    .fashionSections img {
        margin: auto;
        max-width: 80vw;
    }

    .fashionSections p {
        padding-bottom: 10px;
    }

}


@media only screen and (max-width: 767px) {
    h1.erikaQuote {
        margin-left: 5px;
    }
    
    h1.erikaQuote, h1#citazione {
        font-size: 1.5em;
        line-height: 1.3em;
    }
    
    h2 {
        font-size: 1.3em;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .rectangle {
        position: relative;
        width: 90vw;
        border-radius: 5px;
        margin-top: 30px;
        text-align: center;
    }
    
    .picRect {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .picRect img{
        max-width: 100%;
        height: auto;
        padding: 10px;
    }
    
    .titolo {
        line-height: 3rem;
    }

    .rectNascosto {
        padding-top: 10px;
    }

    .rectNascosto p, .textFashion p {
        font-size: 1em;
        line-height: 1.4em;
        margin-top: 0;
        padding-top: 0;
    }

    .menu > li {
        justify-content: center;
    }

    .textFashion {
        display: flex;
        flex-direction: column;
    }

    .linea {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    img.cardullo {
        display: block;
        max-width: 60vw;
        margin: auto;
    }

    img.erikaPM {
        display: block;
        max-width: 80vw;
        margin: auto;
    }

    .fashionSections {
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }

    .fashionSections h2 {
        margin-bottom: 0;
        text-align: center;
    }

    .fashionSections img {
        margin: auto;
        max-width: 80vw;
        margin-bottom: 25px;
    }

    .fashionSections p {
        padding-bottom: 10px;
        font-size: 1em;
    }    

    .corpoCentrale {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #portoTito h2 {
        text-align: center;
    }

    .portfolioTitle {
        margin-top: 50px;
    }

    .designs img {
        max-width: 80vw;
    }
    
    #wedding img {
        max-width: 40vw;
    }
}